#middle_content>.container>.row>.col-xs-8.col-md-9>.tab-content>.tab-pane{
	overflow: auto;
}
#middle_content>.container>.row>.col-xs-8.col-md-9>.tab-content>.tab-pane>h5>.second_title{
	padding: 2px 5px;
	background: #143270;
	color: #fff;
}
#middle_content>.container>.row>.col-xs-8.col-md-9>.tab-content>.tab-pane>table>caption{
	text-align: center;
}